<template>
  <LoginSignupComponent :isLogin="true"/>
</template>

<script>
import  LoginSignupComponent from '@/components/LoginSignupComponent.vue'
export default {
    components: {LoginSignupComponent},
};
</script>