<!-- Responsible: Andreas Rasmussen, s204470 -->
<template>
  <div class="home">
    <!-- CarouselComponent, which is just a wrapper for the third party carousel -->
    <CarouselComponent :wrapAround="true" :autoplay="5000" :pauseAutoplayOnHover="true" />
    <div class="welcometext">
      <!-- HomePage text -->
      <h3>Welcome to Consolondo</h3>
      <h5>What is your area of interest?</h5>
    </div>

    <!-- Display loading if no expert-categories have been loaded yet.
    It will however display loading if none exist in the database. -->
    <div v-if="!categories.length">
      <progress />
    </div>
    <!-- Display if some are found -->
    <div class="categories" v-else>
      <div @click="handleCategoryClick(cat)" class="category" v-for="cat in categories" :key="cat">
        <!-- Pass on the category to each block -->
       <CategoryBlock :category="cat" />
      </div>
    </div>
    
  </div>
</template>



<script>
import { db } from '../firebase/config'
import { useRouter } from 'vue-router'
import { collection, getDocs } from 'firebase/firestore'
import CarouselComponent from '@/components/CarouselComponent.vue';
import CategoryBlock from '@/components/CategoryBlock.vue';
import { ref } from '@vue/reactivity';

export default {
    name: "HomeView",
    components: { CarouselComponent, CategoryBlock },
    setup () {

      //Use router on click of category
      const router = useRouter()
      const categories = ref([])
      const colRef =  collection(db,'expertCategories')

      //Pushing the new route on click
      const handleCategoryClick = (cat) => {
        router.push({ name: 'Search', params: { searchTerm: cat.searchString } })
      }

      //Sorting function for objects. This is just to order the categories alphabetically.
      //This sorts the categories based on the categoryName
      function compare( a, b ) {
        if ( a.categoryName < b.categoryName ){
          return -1;
        }
        if ( a.categoryName > b.categoryName) {
          return 0;
        }
        
      }

      //Getting expert categories from the database
      getDocs(colRef)
      .then( snapshot => {
        let docs = [] 
        snapshot.docs.forEach( doc => {
          docs.push({...doc.data()})
          
        })
        //Sorting locally. Could be done with a firebase query, but let's not overcomplicate stuff.
        categories.value=docs.sort( compare )
      })
    

    return { categories, handleCategoryClick}

    }
}
</script>

<style scoped>

div.home{
  
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.welcometext h3,h5{
  text-align: center;
  color: #00762E;
}

div.category{
  
  display: inline-table;
  margin: 10px 10px 40px 40px;
  max-width: 1200px;
  margin: 20px 20px;

}

</style>