<!-- Responsible: Lukas Petersen -->
<template>
  <div class="container">

    <!-- list of active conversations on the left -->
    <div class="overview">
      <ConversationList v-bind:user="user" v-bind:conIdList="conIdList" />
    </div>

    <!-- conversation on the right -->
    <div class="headerGrid">
      <ChatHeader v-bind:user="user" />
    </div>
    <div class="chatGrid">
      <ChatWindow v-bind:user="user" />
    </div>
    <div class="newChatGrid">
      <NewChatForm v-bind:user="user" />
    </div>

  </div>
</template>


<script>
import { computed } from '@vue/runtime-core'

import getUser from '../composables/getUser'

import NewChatForm from '@/components/NewChatForm.vue'
import ChatWindow from '@/components/ChatWindow.vue'
import ConversationList from '@/components/ConversationList.vue'
import ChatHeader from '@/components/ChatHeader.vue'
import getNestedCollection from '@/composables/getNestedCollection'

export default {
  components: { NewChatForm, ChatWindow, ConversationList, ChatHeader },
  setup() {
    const { user } = getUser()
    const { documents } = getNestedCollection('users', user.value.uid, 'conversations')

    // method for getting the user's conversations in real time 
    const conIdList = computed(() => {
      if(documents.value) {
        return documents.value.map(doc => {
          return doc.conId
        })
      }
    })

    return { user, conIdList }
  }
}
</script>


<style scoped>
  .container {
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50px 1fr 100px;
    gap: 1px;
    padding: auto;
    background-color: #D9DCE0;
  }
  .container > div {
    background-color: white;
    text-align: left;
    padding: 0px 0 10px 0;
  }
  .overview {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .headerGrid {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .chatGrid {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .newChatGrid {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
</style>