<template>
  <!-- Check if searched user exists -->
  <div v-if="searchedUserDocument" class="profileViewDiv">
    <!-- The entire column that contains the profileView (if profile exists)-->
    <div class="column">
      <div class="backgroundPicture">
        <img :src="searchedUserDocument.backgroundPictureURL" class="cover" />

        <!-- The div containing the edit backgroundpicture button -->
        <div v-if="isMyOwnProfile" class="editBackgroundPictureButtonHolder">
          <EditPictureModal
            @close="updateSearchedUserDocument"
            :isProfilePictureEdit="false"
          />
        </div>
      </div>

      <div class="userProfilePicture">
        <img
          :src="searchedUserDocument.profilePictureURL"
          class="cover round"
        />
        <!-- The div containing the edit profilepicture button -->
        <div v-if="isMyOwnProfile" class="editProfilePictureButtonHolder">
          <EditPictureModal
            @close="updateSearchedUserDocument"
            :isProfilePictureEdit="true"
          />
        </div>
      </div>

      <!-- Name of user -->
      <h3 class="profileName">{{ searchedUserDocument.displayName }}</h3>

      <!-- Pill under profilename which indicates if user is consultant or only client -->
      <div class="profileTypePill">
        <div class="profileStatusPill">
          <span class="profileStatus" v-if="searchedUserDocument.specialties && searchedUserDocument.specialties.length >0 ">Consultant</span>
          <span class="profileStatus" v-else>Client</span>
        </div>
      </div>

      <!-- The short description text and edit button -->
      <div class="inlineElements">
        <!-- Adds spacing to the left of short description for symmetry -->
        <div v-if="isMyOwnProfile" class="centralizerFiller" />

        <!-- The short description text notice that &ensp means a doublespace on each side of the description -->
        <p
          v-if="
            searchedUserDocument.shortdescription != 'No description.' &&
            searchedUserDocument.shortdescription != ''
          "
          class="shortDescription"
        >
          &ensp; {{ searchedUserDocument.shortdescription }} &ensp;
        </p>

        <p v-else class="noShortDescription">
          Click on the pen icon to add a short description
        </p>

        <!-- The edit button -->
        <div v-if="isMyOwnProfile">
          <EditShortDescriptionModal
            :shortDescriptionText="searchedUserDocument.shortdescription"
            @success="updateSearchedUserDocument"
          />
        </div>
      </div>

      <!-- The div containing the specialtyList -->
      <div class="specialtyList">
        <div v-if="isMyOwnProfile" class="centralizerFiller" />

        <!-- Start space to create symmetry  -->
        <div>&ensp;</div>

        <!-- The specialtyList -->
        <div
          v-if="searchedUserDocument.specialties.length > 0"
          class="specialtyListHolder"
        >
          <div
            v-for="specialty in searchedUserDocument.specialties"
            v-bind:key="specialty"
            class="specialtyListItems"
          >
            • {{ specialty }} &ensp;
          </div>
        </div>

        <div v-else>
          <p>Add specialties to become a consultant &ensp;</p>
        </div>

        <!-- The edit specialty button -->
        <EditSpecialtyListModal
          v-if="isMyOwnProfile"
          :listOfSpecialties="searchedUserDocument.specialties"
          @success="updateSearchedUserDocument"
        />
      </div>

      <div v-if="searchedUserDocument.specialties && searchedUserDocument.specialties.length >0"
        class="descriptionTitle">How I can help you:</div>
      <div v-else class="descriptionTitle">About me</div>

      <!-- The div containing the entire description -->
      <div class="relativePosition">
        <p
          v-if="
            searchedUserDocument.description != 'No description.' &&
            searchedUserDocument.description != ''
          "
          class="description"
        >
          {{ searchedUserDocument.description }}
        </p>
        <p v-else class="description noDescription">
          Click on the pen icon to add a description
        </p>

        <!-- The edit description button -->
        <div v-if="isMyOwnProfile" class="editDescriptionButtonHolder">
          <EditDescriptionModal
            :descriptionText="searchedUserDocument.description"
            @success="updateSearchedUserDocument"
          />
        </div>
      </div>

      <!-- The start conversation button -->
      <button
        v-if="!isMyOwnProfile && myUser"
        class="
          mdl-button mdl-js-button
          mdl-button--raised mdl-button--colored
          startConversationButton
        "
        v-on:click="handleClick(id, searchedUserDocument.displayName)"
      >
        Start conversation with {{ searchedUserDocument.displayName }}
      </button>
    </div>
  </div>
  <div v-else>
    <div class="centered">
      <div v-if="loading">
        <progress />
      </div>
      <div v-else>
        <h3>User not found</h3>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, watch, onUnmounted } from "vue";
import getUser from "@/composables/getUser";
import useGetUserDocument from "@/composables/getUserDocument";
import EditDescriptionModal from "@/components/EditDescriptionModal";
import EditPictureModal from "@/components/EditPictureModal";
import EditShortDescriptionModal from "@/components/EditShortDescriptionModal";
import EditSpecialtyListModal from "@/components/EditSpecialtyListModal";
import startConversation from "@/composables/startConversation";

export default {
  props: ["userNameAndUserUID"],
  components: {
    EditDescriptionModal,
    EditPictureModal,
    EditShortDescriptionModal,
    EditSpecialtyListModal,
  },

  setup(props) {
    //The method that gets the document of the user that is being searched for
    const { getUserDocument } = useGetUserDocument();

    //The user that is currently logged in
    const { user: myUser } = getUser();

    //The initial props
    const { userNameAndUserUID: initialUserNameAndUserUID } = props;

    const isMyOwnProfile = ref(false);

    const searchedUserDocument = ref(null);

    const searchedUserUID = ref(null);

    const loading = ref(true);

    // method for starting conversation
    const { handleClick } = startConversation();
    const id = ref("");

    //Watches the props to see if new user is being searched for
    const propWatch = watch(props, () => {
      const { userNameAndUserUID } = props;
      loadUserDocument(userNameAndUserUID);
    });
    // to stop the watcher when the component is unmounted
    onUnmounted(() => {
      propWatch();
    });

    //The method that loads the document of the user that is being searched for
    const loadUserDocument = async (userNameAndUserUID) => {
      loading.value = true;
      //Gets the userUID from the prop
      searchedUserUID.value = userNameAndUserUID.slice(-28);

      //Determines if the user from the profile is the same as the one logged in
      if (
        myUser.value &&
        searchedUserUID.value === myUser.value.uid.toLowerCase()
      ) {
        isMyOwnProfile.value = true;
      }
      updateSearchedUserDocument();
    };

    //This function loads the userDocument of the user searched for from the database
    const updateSearchedUserDocument = async () => {
      loading.value = true;

      const userDocument = await getUserDocument(searchedUserUID.value);
      if (userDocument) {
        searchedUserDocument.value = userDocument.data();
        id.value = userDocument.id;
        if (searchedUserDocument.value.description) {
          //converts the newlines of the description into actual line breaks
          const description = searchedUserDocument.value.description;
          searchedUserDocument.value.description = description
            .replaceAll("\\n", "\n")
            .replaceAll("\\t", "\t");
        }
      }
      loading.value = false;
    };

    //loads the initial userDocument of the user searched for
    loadUserDocument(initialUserNameAndUserUID);

    return {
      isMyOwnProfile,
      searchedUserDocument,
      id,
      updateSearchedUserDocument,
      loading,
      handleClick,
      myUser
    };
  },
};
</script>

<style scoped>
.profileStatusPill {
  border: 2px solid var(--primary);
  border-radius: 20px;
  margin: 0 0 8px;
}

.profileStatus{
  font-size: 12;
  font-weight: 400;
  margin: 10px;
}


.round {
  border-radius: 50%;
}

/* used by the background picture to make it fill out the entire space */
.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: none;
}

.relativePosition {
  position: relative;
}

/* space to make symmetry on the short description and the specialty list */
.centralizerFiller {
  width: 32px;
}

.inlineElements {
  display: flex;
  flex-direction: row;
}

/* makes the positioning of the edit background button relative to the background picture */
.editBackgroundPictureButtonHolder {
  position: relative;
}

/* Styling of the start conversation button */
button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.startConversationButton {
  max-width: 500px;
  text-transform: none;
  overflow: visible;
  margin: 0 0 30px 0px;
}

/* Styling of the description text */
.description {
  max-width: 500px;
  color: #000;
  text-align: justify;
  white-space: pre-wrap;
  padding: 0 0 40px 0;
  overflow-wrap: break-word;
}
/* Color of the default description if there is no description */
.noDescription {
  color: var(--primary);
}

.descriptionTitle {
  color: #000;
  font-weight: bold;
  padding: 13px 0;
}

/* Styling of specialty list  */
.specialtyListHolder {
  display: flex;
}
.specialtyListItems {
  color: rgba(0, 0, 0, 0.75);
}
.specialtyList {
  display: flex; /* or inline-flex */
  flex-direction: row;
}

.shortDescription {
  font-size: 18px;
  color: #000;
}

/* Styling if there is no short description */
.noShortDescription {
  font-size: 18px;
}

/* Div that holds entire profile view */
.profileViewDiv {
  position: fixed;
  top: 56px;
  left: 0px;
  /*position: relative;*/
  width: 100vw;
  height: calc(100vh - 56px);
}

.profileName {
  padding: 10px 0;
  margin: 0px;
  color: #000;
}

.userProfilePicture {
  position: absolute;
  top: calc(15.5vw - 56px);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}
/* Adjust what happens with the profilepicture and backgroundpicture when the window width gets really small */
@media (max-width: 460px) {
  .userProfilePicture {
    top: 20px;
  }

  /* hides background picture */
  .backgroundPicture {
    display: none;
    visibility: hidden;
    position: relative;
    padding: 0 0 calc(20px + 200px) 0;
  }
}

.backgroundPicture {
  height: 20vw;
  width: 100%;
  padding: 0 0 calc(15.5vw - 56px + 200px - 20vw) 0;
}

/* the main column where most of the profileview content is */
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  /*min-height: calc(20vw + 15.5vw - 56px + 200px - 20vw + 600px);*/
  overflow: auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>