<!-- Responsible: Lukas Petersen, s204511 -->
<template>
  <div class="searchTextContainer">
    <div class="searchText">
      <h5>You Searched For: "{{ searchTermRef }}"</h5>
    </div>
  </div>
  <div v-if="!loading">
    <!-- list the search results if any -->
    <div v-if="searchResults && searchResults.length > 0">
      <div v-for="profile in searchResults" v-bind:key="profile.id" class="searchResult">
        <div class="resultContent" v-on:click="profileClick(profile.displayName, profile.id)">
          <!-- show profile picture -->
          <div class="profilePicture">
            <img :src="profile.profilePictureURL" />
          </div>
          <!-- show name -->
          <h1 class="name" v-on:click="profileClick(profile.displayName, profile.id)">
            {{ profile.displayName }}
          </h1>
          <!-- show description -->
          <p class="description" v-on:click="profileClick(profile.displayName, profile.id)">
            {{ profile.shortdescription }}
          </p>
          <!-- show tags -->
          <div class="tagsDiv" v-on:click="profileClick(profile.displayName, profile.id)">
            <div v-for="tag in profile.specialties" :key="tag">
              <p class="tag">#{{ tag }}&ensp;</p>
            </div>
          </div>
        </div>
        <div v-if="user" class="buttonArea">
          <button class="contactButton" v-on:click.self="handleClick(profile.id, profile.displayName)">
            Contact
          </button>
        </div>
        <div v-else class="buttonArea">
          <button class="contactButton" disabled>
            Login to contact
          </button>
        </div>
      </div>
    </div>
    <div v-else class="noResultsDiv">
      <h5 class="noResultsText">No results found</h5>
    </div>
  </div>
  <div v-else>
    <progress class="center" />
  </div>
</template>

<script>
import { onUnmounted, watch } from "vue";
import { ref } from "@vue/reactivity";
import { useRouter } from "vue-router";

import { collection, onSnapshot } from "@firebase/firestore";
import { db } from "@/firebase/config";

import getUser from "@/composables/getUser";
import startConversation from "@/composables/startConversation";

export default {
  props: ["searchTerm"],
  setup(props) {
    const { user } = getUser();
    const router = useRouter();
    const { handleClick } = startConversation();

    // SearchTermRef is a reference to the searchTerm prop
    const { searchTerm: initialSearchTerm } = props;
    const searchTermRef = ref(initialSearchTerm);

    const loading = ref(false);
    // This is a watcher that will update the searchTermRef whenever
    // the searchTerm prop changes. Since the page doesn't reload completely
    // every time we write a new search term in the navbar and submit, we need
    // to update the searchTermRef whenever the searchTerm prop changes, like so.
    const stopWatch = watch(props, () => {
      const { searchTerm: newSearchTerm } = props;
      searchTermRef.value = newSearchTerm;
      load();
    });
    // to stop the watcher when the component is unmounted
    onUnmounted(() => {
      stopWatch();
    });

    let searchResults = ref([]);
    const colRef = collection(db, "users");

    // method for finding and updating the search results
    const load = async () => {
      loading.value = true;
      searchResults.value = [];
      onSnapshot(colRef, (snapshot) => {
        let colSnap = [];
        snapshot.docs.forEach((doc) => {
          let lowerCaseSpecialties = doc
            .data()
            .specialties.map((s) => s.toLowerCase());
          // set search specification
          if (
            (!user.value || doc.id !== user.value.uid) &&
            (lowerCaseSpecialties.filter((specialty) => {
              if (specialty.indexOf(searchTermRef.value.toLowerCase()) > -1) {
                return true;
              }
            }).length > 0 ||
              doc
                .data()
                .displayName.toLowerCase()
                .includes(searchTermRef.value.toLowerCase()))
          ) {
            // add the search result to the list
            colSnap.push({ ...doc.data(), id: doc.id });
          }
        });
        // update refs
        searchResults.value = colSnap;
        loading.value = false;
      });
     
    };
    load();

    // method for sending the user to a chosen profile page
    const profileClick = (name, id) => {
      // following name convention
      let userName = name.replaceAll(" ", "-");
      let userNameAndUserUID = userName + "-" + id;
      router.push({ name: "Profile", params: { userNameAndUserUID } });
    };

    return { searchTermRef, searchResults, user, handleClick, profileClick, loading };
  },
};
</script>

<style scoped>
h5.noResultsText {
  text-align: center;
  padding: 20px 0;
  margin: 0;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.searchText h5 {
  color: #011627;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.searchText {
  display: flex;
  justify-content: center;
  width: 100%;
}
.searchResult {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 0;

  width: 60%;
  margin-left: 20%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.resultContent {
  grid-column-start: 1;
  grid-column-end: 2;

  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 20px 15px 15px;
  gap: 0;

  padding: 25px 0 25px 0;
}
.clickMe {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;

  height: 100%;
}
.searchResult:hover {
  cursor: pointer;
  background: #f2f2f2;
}
.profilePicture {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;

  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
  border-radius: 50px;
  margin-left: 20px;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.name {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  color: #011627;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 0 0;
}
.description {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  color: #011627;
  font-weight: normal;
  font-size: 12px;
}
.tagsDiv {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;

  display: flex;
}
.buttonArea {
  grid-column-start: 2;
  grid-column-end: 3;

  padding: 25px 0 25px 0;
}
.contactButton {
  color: #3e988f;
  background-color: white;
  border: 1px solid #3e988f;
  width: 100px;
  height: 40px;
}
</style>