<!-- Responsible: Andreas Rasmussen, s204470 -->

<!-- Carousel component that takes the profile snippet ad input.
Shows if loading is done. Number of items to be shown can be set.
Autoscroll options can be set in homeView -->

<!-- The Carousel component is third party. Just pass in the elements to display. -->

<template>
    <Carousel v-if="isCarouselLoaded" class="c" :items-to-show="1.5" >
    <Slide v-for="user in users" :key="user">
      <div class="carousel__item">
        <ProfileSnippet :user="user"/>
      </div>
      
    </Slide>

    <template #addons>
      <Navigation />
    </template>
  </Carousel>
  <progress v-else />

  
</template>

<script>

import { ref } from "vue";
import { collection, getDocs } from "firebase/firestore";
import { db } from "@/firebase/config";
import { defineComponent } from 'vue';
import { Carousel, Navigation, Slide, Pagination } from 'vue3-carousel';
import ProfileSnippet from '@/components/ProfileSnippet.vue';

import 'vue3-carousel/dist/carousel.css';

export default defineComponent({
  name: 'Autoplay',
  emits: [ "carouselLoaded" ],
  setup(props){

      //Variable for measuring if carousel is loaded
      const isCarouselLoaded = ref(false)
      const users = ref([])
      const colRef =  collection(db,'users')


    //Getting the data and ID of users in the database 
     getDocs(colRef)
      .then( snapshot => {
        //Empty array for collecting the users
        let userList = [] 
        snapshot.docs.forEach( user => {
          // Works if I combine the ID into a single variable, and then add it. Funny...
          const ID = user.id
          //Add the data for each user
          userList.push({...user.data(), ID})
        })
        //Copy over the list and set the loading to be done
        users.value=userList
        isCarouselLoaded.value = true
      }) 
      
    return { users, isCarouselLoaded }
  },
  components: {
    Carousel,
    Slide,
    Pagination,
    Navigation,
    ProfileSnippet
  },
})
</script>

<style>
.carousel__slide > .carousel__item {
  transform: scale(1);
  opacity: 0.5;
  transition: 0.5s;
}
.carousel__slide--visible > .carousel__item {
  opacity: 1;
  transform: rotateY(0);
}
.carousel__slide--next > .carousel__item {
  transform: scale(0.9) translate(0px);
}
.carousel__slide--prev > .carousel__item {
  transform: scale(0.9) translate(0px);
}

#app .carousel__prev, #app .carousel__next{
  background-color: white;

}

</style>

