<!-- Responsible: Andreas Rasmussen, s204470 -->
<template>
    <!-- Simple text and icon. Icon is from Google's material icons. -->
    <div class="categoryblock">
        <h4>{{ categoryName }}</h4>
        <span class="material-symbols-outlined"> {{ icon }}</span>
    </div>
  
</template>

<script>
export default {
    props: [ 'category' ],
    setup(props){

        //Passing on props.
        const categoryName = props.category.categoryName
        const icon = props.category.icon
        return { categoryName, icon }
    }

}
</script>

<style scoped>
div.categoryblock{
    background-color: var(--primary);
    width: 200px;
    height: 75px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    
}
div.categoryblock:hover{
    background-color: var(--primary);
    filter: brightness(90%);
    cursor: pointer;
    
}

h4{
   display: inline-block;
   color:white; 
}
.material-symbols-outlined {
  color:white;
  position: relative;
  top: 3px;
  left: 5px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
</style>