<!-- Responsible: Lukas Petersen, s204511 -->
<template>
    <div class="header" v-if="friendName">
        <div class="tinyProfilePicture" v-if="url" v-on:click="profileClick(name, id)">
            <img :src="url">
        </div>
        <h1>{{ name }}</h1>
        <p v-if="activity">Latest Activity: {{ activity }} ago</p>
    </div>
    <div class="error">{{ error }}</div>
</template>

<script>
import { ref } from '@vue/reactivity'
import { computed } from '@vue/runtime-core'
import { useRouter } from 'vue-router'
import { formatDistanceToNow } from 'date-fns'

import { doc, getDoc, onSnapshot } from '@firebase/firestore'
import { db } from '@/firebase/config'

import getConversation from '@/composables/getConversation'

export default {
    props: ['user'],
    setup(props) {
        const { error, conId } = getConversation()
        //const { url, getImage } = useStorage()
        const url = ref('')
        const name = ref('')
        const id = ref('')
        const router = useRouter()
        const activity = ref('')

        // access the current chat partner's name
        const friendName = computed(async () => {
            if(conId.value) {
                const docRef = doc(db, 'conversations', conId.value)
                const docSnap = await getDoc(docRef)

                activity.value = formatDistanceToNow(docSnap.data().latestActivity.toDate())

                // choose what profile picture and profile name to display
                if(docSnap.data().conStarterId === props.user.uid) {
                    name.value = docSnap.data().conPartnerName
                    id.value = docSnap.data().conPartnerId
                    const partnerRef = doc(db, 'users', id.value)
                    const partnerSnap = await getDoc(partnerRef)
                    url.value = partnerSnap.data().profilePictureURL
                } else {
                    name.value = docSnap.data().conStarterName
                    id.value = docSnap.data().conStarterId
                    url.value = props.user.profilePictureURL
                }

                return docSnap.data().friendName
            }
        })

        // method for sending user to profile page after clicking the small profile picture 
        const profileClick = (name, id) => {
            // following name convention
            let userName = name.replaceAll(" ", "-");
            let userNameAndUserUID = userName + '-' + id
            router.push({ name: 'Profile', params: { userNameAndUserUID } });
        }

        return { error, conId, name, id, activity, friendName, url, profileClick }
    }

}
</script>

<style scoped>
    .header {
        display: grid;
        grid-template-columns: 50px auto auto;
        grid-template-rows: 25px 25px;
        gap: 0;
    }
    .header h1 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        color: #011627;
        font-weight: normal;
        font-size: 16px;
        align-self: center;
        padding-top: 20px;
    }
    .header p {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

        color: #707991;
        font-weight: lighter;
        font-size: 10px;
    }
    .tinyProfilePicture {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;

        max-width: 30px;
        max-height: 30px;
        overflow: hidden;
        border-radius: 30px;
        margin: 10px 10px 10px 10px;
    }
    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
</style>