<!-- Responsible: Lukas Petersen, s204511 -->
<template>
  <div class="chat-window">
      <!-- show potential errors -->
      <div v-if="error">{{ error }}</div>
      <!-- show messages if any -->
      <div v-if="documents" class="messages" ref="messages">
        <div v-for="doc in formattedDocuments" v-bind:key="doc.id" class="single">
        
            <!-- check who's sending the message (for styling) -->
            <div class="userMessage" v-if="doc.senderId == uid">
              <span class="message">{{ doc.message }}</span>
              <span class="created-at">{{ doc.createdAt }}</span>
            </div>

            <div class="friendMessage" v-else>
              <span class="message">{{ doc.message }}</span>
              <span class="created-at">{{ doc.createdAt }}</span>
            </div>
        </div>
      </div>
  </div>
</template>


<script>
import { formatDistanceToNow } from 'date-fns'
import { computed, onUpdated, ref } from '@vue/runtime-core'

import getConversation from '@/composables/getConversation'

export default {
    props: ['user'],
    setup(props) {
      const { documents, error } = getConversation()      
      const uid = props.user.uid

      // format the time of each of the messages so that it is readable
      const formattedDocuments = computed(() => {
        if(documents.value) {
          return documents.value.map((doc) => {
            let time = formatDistanceToNow(doc.createdAt.toDate()) + ' ago'
            return { ...doc, createdAt: time }
          })
        }
      })
      
      // auto scroll
      const messages = ref(null)
      onUpdated(() => {
        messages.value.scrollTop = messages.value.scrollHeight
      })

      return { documents, formattedDocuments, messages, error, uid }
    }
}
</script>

<style scoped>
  .messages {
    position: fixed;
    top: 106px;
    right: 0;
    bottom: 100px;

    width: 80%;

    overflow: auto;
  }
  .userMessage {
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: 1fr 20px;
    gap: 0;
    padding: auto;
    
    background: #009688;
    /* box-shadow: 1px 2px 3px gray; */

    float: right;
    margin: 20px 15px 20px 0;
    border-radius: 10px;
    width: 60%;
    min-height: 50px;
  }
  .userMessage .message {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    color: #FFFFFF;
    margin: 5px 5px 10px 10px;
  }
  .userMessage .created-at {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    text-align: right;
    display: block;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0 10px 10px 0;
  }
  .friendMessage {
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: 1fr 20px;
    gap: 0;
    padding: auto;
    
    background: #ECECEC;
    /* box-shadow: 1px 2px 3px lightgrey; */
    
    margin: 20px 0 20px 15px;
    border-radius: 10px;
    width: 60%;
    min-height: 50px;
  }
  .friendMessage .message {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    color: #011627;
    margin: 5px 5px 10px 10px;
  }
  .friendMessage .created-at {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    text-align: right;
    display: block;
    color: #011627;
    font-size: 12px;
    margin: 0 10px 10px 0;
  }
</style>