<!-- Responsible: Lukas Petersen, s204511 -->
<template>
    <p v-if="conversations.length < 1">No conversations found</p>
    <!-- list conversations if any -->
    <div v-for="c in conversations" v-bind:key="c.id" class="conversationOverview">
        <div v-on:click="handleClick(c.id)">

            <!-- check who's perspective to show -->
            <div v-if="c.conStarterId == uid" class="conversation">
                <div class="overviewImg">
                    <img :src="c.conPartnerImage">
                </div>
                <span class="name">{{ c.conPartnerName }}</span>
                <span class="latestMessage">{{ c.latestMessage }}</span>
            </div>
            <div v-else class="conversation">
                <div class="overviewImg">
                    <img :src="c.conStarterImage">
                </div>
                <span class="name">{{ c.conStarterName }}</span>
                <span class="latestMessage">{{ c.latestMessage }}</span>
            </div>

        </div>
    </div>
    <div class="error">{{ error }}</div>
</template>

<script>
import { ref } from '@vue/reactivity'
import { onUpdated } from '@vue/runtime-core'

import { collection, onSnapshot, orderBy, query } from '@firebase/firestore'
import { db } from '@/firebase/config'

import getConversation from '@/composables/getConversation'

export default {
    props: ['user', 'conIdList'],
    setup(props) {
        const uid = props.user.uid
        const { error, conId, fetchConversation } = getConversation()

        let conversations = ref([])
        const conRef = query(collection(db, 'conversations'), orderBy('latestActivity', 'desc'))

        // find the user's conversations
        const load = async () => {
            onSnapshot(conRef, snapshot => {
                if(props.conIdList) {
                    let conSnap = []
                    // search for all documents with ID's matching the user's conversations
                    snapshot.docs.forEach(doc => {
                        if(props.conIdList.includes(doc.id)) {
                            conSnap.push({ ...doc.data(), id:doc.id })
                        }
                    })
                    // update values
                    conversations.value = conSnap
                }
            })
        }
        load()

        // keep the list updated in real time
        onUpdated(() => {
            load()
        })

        // method for switching between conversations
        const handleClick = (cid) => {
            conId.value = cid
            fetchConversation(props.user.uid, cid)
        }

        return { error, conversations, handleClick, uid }
    }
}
</script>

<style scoped>
    p {
        position: relative;
        left: 50%;
        top: 20%;
        transform: translate(-25%, 0);    
    }
    .conversation {
        display: grid;
        grid-template-columns: 50px auto auto;
        grid-template-rows: auto auto;
        gap: 0;

        padding: 25px 0 25px 0;
    }
    .conversation:hover {
        cursor: pointer;
        background: #F2F2F2;
    }
    .overviewImg {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;

        max-width: 45px;
        max-height: 45px;
        overflow: hidden;
        border-radius: 45px;
        margin-left: 10px;
    }
    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
    .created-at {
        display: block;
        color: #999;
        font-size: 12px;
        margin-bottom: 4px;
    }
    .name {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        color: #011627;
        font-weight: bold;
        padding-left: 20px;
    }
    .latestMessage {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        
        color: #707991;
        font-weight: lighter;
        padding-left: 20px;
        font-size: 12px;
    }
</style>