<!-- Responsible: Simon Alsbirk, s204487 -->
<!-- This is a parent component that puts together the modal and the UploadImageComponent.
This class controls what happens when the modal wants to close, and what happens after the user
has uploaded a picture (or just cancelled the process). Furthermore to open the modal this class
provides the edit button that you see in ProfileView. -->

<template>
   <!-- Modal provides an empty dialog component where slot is that is kept inside. -->
  <Modal @close="toggleShowModal" v-if="showModal">
    <!-- The content inside the modal -->
    <template v-slot:content>
        <!-- The component that provides uploadImage interaction -->
        <UploadImageComponent :isProfilePicture="isProfilePictureEdit" @close="success"/>
    </template>
  </Modal>
  <!-- The edit picture icon button you see on the profileView page. -->
  <button
    @click="toggleShowModal"
    class="
      mdl-button mdl-js-button
      mdl-button--fab mdl-button--mini-fab
      editPicture
    "
    :class="{backgroundPhoto: !isProfilePictureEdit
      , profilePhoto: isProfilePictureEdit}"
  >
    <i class="material-icons editPictureIcon">edit</i>
  </button>
</template>

<script>
import Modal from "@/components/Modal";
import { ref } from "vue";
import UploadImageComponent from "@/components/UploadImageComponent";

export default {

  //Boolean value which is true if user is trying to upload a new profile picture. 
  //If this is false user is trying to upload background picture
  props: ["isProfilePictureEdit"],

  name: "EditPictureModal",
  emits: ["close"],
  components: { Modal, UploadImageComponent },

  setup(props, { emit }) {

    const { isProfilePictureEdit } = props;

    const showModal = ref(false);

    const toggleShowModal = () => (showModal.value = !showModal.value);

    //Function to determine whether the user uploaded a new picture, or just cancelled
    const success = (bool) => {
      toggleShowModal();
      if (bool) {
        emit( "close" );
      }
    };

    return { showModal, isProfilePictureEdit, toggleShowModal, success,  };
  },
};
</script>

<style scoped>

/* Background color of the edit buttons. */
.editPicture, .editPicture.mdl-button:hover, .editPicture.mdl-button:focus {
  background-color: var(--primary);
  position: absolute;
}

/* The position of the edit profile picture button */
.profilePhoto {
  bottom: 10px;
  right: 10px;
}

/* If this component is used for the background photo, the positioning of the 
button is slightly different*/
.backgroundPhoto {
  bottom: -20px;
  right: 20px;
}


/* the color of the icon inside the iconbutton*/
.editPictureIcon {
  color: white;
}
</style>

