<!-- Responsible: Simon Alsbirk, s204487 -->
<!-- The modal for editing the long description. -->
<!-- Resembles the component of EditShortDescriptionModal 
but not enough for it to make sense to make them into one modal -->

<template>
  <!-- Modal provides an empty dialog component where slot is that is kept inside. -->
  <Modal @close="toggleShowModal" v-if="showModal">
    <!-- The content inside the modal -->
    <template v-slot:content>
      <div v-if="!loading">
        <!-- The entire div that contains the edit description interaction -->
        <div class="descriptionTextDiv">
          <h5 class="headerText">Edit description</h5>

          <!-- The textarea where the user can write their description -->
          <form>
            <textarea
              placeholder="Write something about yourself"
              ref="editDescriptionTextArea"
              v-model="editText"
              name="text"
              class="editDescriptionText"
              oninput='this.style.height = "";this.style.height = this.scrollHeight + 10 + "px"'
            >
            </textarea>
          </form>

          <div class="uploadAndCancelButtonDiv">
            <button
              @click="uploadDescription"
              class="mdl-button mdl-js-button bottomButton"
            >
              SAVE
            </button>
            <div class="spacer"></div>
            <button
              class="mdl-button mdl-js-button bottomButton"
              @click="toggleShowModal"
            >
              CANCEL
            </button>
          </div>
        </div>
      </div>
      <div v-else >
        <progress class="loadingClass" />
      </div>
    </template>
  </Modal>

  <!-- The button that opens this modal -->
  <button
    @click="toggleShowModal"
    class="
      mdl-button mdl-js-button
      mdl-button--fab mdl-button--mini-fab
      editDescription
    "
  >
    <i class="material-icons editDescriptionIcon">edit</i>
  </button>
</template>

<script>
import Modal from "@/components/Modal";
import { ref, watch, onUnmounted } from "vue";
import { doc, setDoc } from "firebase/firestore";
import { db } from "@/firebase/config";
import getUser from "@/composables/getUser";

export default {
  name: "EditDescriptionModal",
  props: ["descriptionText"],
  emits: ["success"],
  components: { Modal },
  setup(props, { emit }) {
    //Old description text is the text that is currently the official, uploaded description
    //For speed purposes we are not going to use the firebase doc to get the description text
    let { descriptionText: oldDescriptionText } = props;

    //A ref to the textarea where the user can write their description
    const editDescriptionTextArea = ref(null);

    //editText is the text that is what the user is currently writing
    const editText = ref("");

    //Whether to show the modal or not
    const showModal = ref(false);

    const loading = ref(false);

    //This is to ensure that the height of the textarea stays correct on load
    const descriptionAreaWatch = watch(editDescriptionTextArea, () => {
      if (editDescriptionTextArea.value) {
        editDescriptionTextArea.value.style.height =
          editDescriptionTextArea.value.scrollHeight + 10 + "px";
      }
    });

    //This is to ensure that if the props change that we receive the new text
    const propWatch = watch(props, () => {
      const { descriptionText: newDescriptionText } = props;
      loadNewUpdate(newDescriptionText);
    });

    // to stop the watcher when the component is unmounted
    onUnmounted(() => {
      propWatch();
      descriptionAreaWatch();
    });

    //This is to load the new text into the textarea
    const loadNewUpdate = (newDescription) => {
      editText.value = newDescription;
      oldDescriptionText = newDescription;
      if (editText.value === "No description.") {
        editText.value = "";
        oldDescriptionText = "";
      }
    };

    //loads the initial text into the textarea
    loadNewUpdate(oldDescriptionText);

    //toggles showModal and resets the textarea so that the user can start
    //writing again from the official description
    const toggleShowModal = () => {
      showModal.value = !showModal.value;
      if (showModal.value) {
        editText.value = oldDescriptionText;
      }
    };

    //Uploads the description text to the firebase doc
    const uploadDescription = async () => {
      loading.value = true;
      const { user } = getUser();
      const userModelRef = doc(db, "users", user.value.uid);
      await setDoc(
        userModelRef,
        { description: editText.value },
        { merge: true }
      );
      loading.value = false;
      toggleShowModal();
      emit("success");
    };

    return {
      toggleShowModal,
      showModal,
      editDescriptionTextArea,
      uploadDescription,
      editText,
      loading,
    };
  },
};
</script>

<style>
/* loading screen */ 
.loadingClass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* The styling is made global because it shares some classes with the component
EditShortDescriptionModal */

/* Styling of the textarea where the user can write their description */
.editDescriptionText {
  width: 540px;
  min-height: 100px;
  max-height: calc(80vh - 130px);
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  color: black;
  margin: 0 0 20px 0;
}

/* The div that contains the edit description interaction */
/* Notice that it defines the max height
The text area will expand until it reaches 80vh*/
.descriptionTextDiv {
  background: white;
  border-radius: 5px;
  max-height: 80vh;
  padding: 0px 22px;
}

.uploadAndCancelButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0 10px;
}

/* Provides some empty space between the bottom buttons */
.spacer {
  width: 10px;
  height: 15px;
}

.bottomButton,
.bottomButton:hover,
.bottomButton:active {
  padding: 0;
  font-weight: 500;
  text-transform: none;
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  color: var(--primary);
}

.headerText {
  margin: 0 0 0 2.5px;
  color: #000;
  text-align: left;
  padding: 25px 0 20px 0;
  font-weight: 600;
}

/* Styling of the editDescriptionButton you see on the profileView.*/
.editDescription,
.editDescription.mdl-button:hover,
.editDescription.mdl-button:focus {
  background-color: var(--primary);
  z-index: 1;
}
.editDescriptionButtonHolder {
  position: absolute;
  bottom: 12px;
  right: 0px;
}
.editDescriptionIcon {
  color: white;
}
</style>

