<!-- Responsible: Simon Alsbirk, s204487 -->
<template>
  <!-- Modal provides an empty dialog component where slot is that is kept inside. -->
  <Modal @close="toggleShowModal" v-if="showModal">
    <!-- The content inside the showModal -->
    <template v-slot:content>
      <div v-if="!loading">
        <!-- The entire div that contains the edit specialty list interaction -->
        <div class="editSpecialtyListDiv">
          <h5 class="headerText">Edit specialties</h5>

          <div class="specialtyListDiv">
            <div
              v-for="specialty in editedListOfSpecialties"
              v-bind:key="specialty"
              class="specialtyListItem"
            >
              <p class="specialtyListItemText">{{ specialty }}</p>
              <i
                @click="removeSpecialty(specialty)"
                class="material-symbols-outlined closeIcon"
                >close</i
              >
            </div>
          </div>

          <div class="newSpecialtyInputFieldAndButtonDiv">
            <!-- The input field -->
            <form @submit.prevent="addSpecialty">
              <div class="mdl-textfield mdl-js-textfield">
                <!-- notice here that we define the maxLength of the input field-->
                <input
                  maxLength="30"
                  v-model="newSpecialty"
                  placeholder="One of my specialties"
                  class="mdl-textfield__input newSpecialtyInputField"
                  type="text"
                />
              </div>
            </form>

            <button
              @click="addSpecialty"
              class="
                mdl-button mdl-js-button
                mdl-button--icon mdl-button--colored
                addSpecialtyButton
              "
            >
              <i class="material-icons addSpecialtyIcon">add</i>
            </button>
          </div>
          <!-- Shows the user how many characters they have written -->
          <p v-if="newSpecialty" class="characterCounter">
            {{ newSpecialty.length }} / 30 characters
          </p>

          <div class="uploadAndCancelButtonDiv">
            <button
              @click="uploadSpecialties"
              class="mdl-button mdl-js-button bottomButton"
            >
              SAVE
            </button>
            <div class="spacer"></div>
            <button
              class="mdl-button mdl-js-button bottomButton"
              @click="toggleShowModal"
            >
              CANCEL
            </button>
          </div>
        </div>
      </div>
      <div v-else>
        <progress class="loadingClass" />
      </div>
    </template>
  </Modal>

  <!-- The button that opens this showModal. This is what you see in ProfileView -->
  <button
    @click="toggleShowModal"
    class="
      mdl-button mdl-js-button
      mdl-button--icon
      nonFilledEndOfLineEdit
      specialtyListItemsEditButton
    "
  >
    <i class="material-icons nonFilledEndOfLineEditIcon">edit</i>
  </button>
</template>

<script>
import { ref, onUpdated } from "vue";
import Modal from "@/components/Modal";
import getUser from "@/composables/getUser";
import { doc, setDoc } from "firebase/firestore";
import { db } from "@/firebase/config";

export default {
  name: "EditSpecialtyListModal",
  props: ["listOfSpecialties"],
  emits: ["success"],
  components: { Modal },
  setup(props, { emit }) {
    // This will also function as the last saved specialty list
    let { listOfSpecialties } = props;

    // The new specialty that the user is writing and adding to the list
    const newSpecialty = ref("");

    // The list of specialties that the user has edited
    const editedListOfSpecialties = ref(listOfSpecialties);

    const showModal = ref(false);

    const toggleShowModal = () => (showModal.value = !showModal.value);

    const loading = ref(false);
    // This function will reset the list of specialties when user reopens this modal
    onUpdated(() => {
      if (showModal.value) {
        // This will be the last saved specialty list
        editedListOfSpecialties.value = listOfSpecialties;
      }
    });

    // This function will add a specialty to the list of specialties
    const uploadSpecialties = async () => {
      loading.value = true;
      const { user } = getUser();
      const userModelRef = doc(db, "users", user.value.uid);
      await setDoc(
        userModelRef,
        { specialties: editedListOfSpecialties.value },
        { merge: true }
      );
      toggleShowModal();
      loading.value = false;
      listOfSpecialties = editedListOfSpecialties.value;
      emit("success");
    };

    // This function will remove a specialty from the list of specialties
    const removeSpecialty = (nameOfSpecialty) => {
      editedListOfSpecialties.value = editedListOfSpecialties.value.filter(
        (specialty) => specialty !== nameOfSpecialty
      );
    };

    // This function will add a specialty to the list of specialties
    const addSpecialty = () => {
      if (newSpecialty.value.length > 0) {
        editedListOfSpecialties.value.push(newSpecialty.value);
        newSpecialty.value = "";
      }
    };

    return {
      toggleShowModal,
      showModal,
      uploadSpecialties,
      editedListOfSpecialties,
      newSpecialty,
      addSpecialty,
      removeSpecialty,
      loading,
    };
  },
};
</script>

<!-- This component borrows some styling from the editDiscriptionModal -->
<style scoped>
.newSpecialtyInputFieldAndButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--primary);
  border-radius: 20px;
  margin: 10px 0;
}

/*Styling for the addSpecialtyiconButton)*/
.addSpecialtyIcon {
  color: var(--primary);
}
.mdl-button.mdl-button--colored {
  margin: 0 3px 0 0;
}

.mdl-textfield.mdl-js-textfield {
  padding: 0;
}

.newSpecialtyInputField {
  color: black;
  width: 337px;
  border-bottom: none;
  margin: 0 5px 0px 0;
  padding: 10px 13px;
  align-items: center;
}

/* Styling for the specialtyList */
.closeIcon {
  font-size: 18px;
  color: white;
}
.closeIcon:hover {
  cursor: pointer;
}
.specialtyListItemText {
  margin: 0 0 0 5px;
  font-size: 16px;
  color: white;
}
.specialtyListItem {
  display: flex;
  border: 2px solid var(--primary);
  border-radius: 20px;
  background-color: var(--primary);
  align-items: center;
  padding: 0 5px;
  margin: 0 5px 10px 0;
}
/* The div that only holds the specialtyListItems */
.specialtyListDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* The entire div that contains the edit specialty list interaction */
.editSpecialtyListDiv {
  background-color: white;
  border-radius: 5px;
  max-height: 400px;
  width: 400px;
  padding: 0px 22px;
}

/* Styling for the editSpecialtyList button shown on profileView */
.editSpecialtyList.mdl-button:hover,
.editSpecialtyList.mdl-button:focus {
  background-color: var(--primary);
  z-index: 1;
}
.editSpecialtyListButtonHolder {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.nonFilledEndOfLineEdit {
  position: relative;
}
.specialtyListItemsEditButton {
  top: -5.5px;
}
.nonFilledEndOfLineEditIcon {
  color: black;
}
</style>

