<!-- Responsible: Simon Alsbirk, s204487 -->
<!-- The showModal for editing the short description. -->
<!-- Resembles the component of EditDescriptionModal 
but not enough for it to make sense to make them into one showModal -->
<!-- This showModal borrows a lot of css from the EditDescriptionModal-->

<template>
  <!-- Modal provides an empty dialog component where slot is that is kept inside. -->
  <Modal @close="toggleShowModal" v-if="showModal">
    <!-- The content inside the showModal -->
    <template v-slot:content>
      <div v-if="!loading">
        <!-- The entire div that contains the edit shortDescription interaction -->
        <div class="descriptionTextDiv shortDescription">
          <h5 class="headerText">Edit short description</h5>

          <!-- The input field where the user can write their short description -->
          <form @submit.prevent="uploadDescription">
            <div class="mdl-textfield mdl-js-textfield">
              <!-- notice here that we define the maxLength of the input field-->
              <input
                maxLength="45"
                v-model="editedShortDescription"
                placeholder="A short description about me"
                class="mdl-textfield__input shortDescriptionField"
                type="text"
              />
            </div>
          </form>

          <!-- Shows the user how many characters they have written -->
          <p v-if="editedShortDescription" class="characterCounter">
            {{ editedShortDescription.length }} / 45 characters
          </p>

          <div class="uploadAndCancelButtonDiv">
            <button
              @click="uploadDescription"
              class="mdl-button mdl-js-button bottomButton"
            >
              SAVE
            </button>
            <div class="spacer"></div>
            <button
              class="mdl-button mdl-js-button bottomButton"
              @click="toggleShowModal"
            >
              CANCEL
            </button>
          </div>
        </div>
      </div>
      <div v-else>
        <progress class="loadingClass" />
      </div>
    </template>
  </Modal>

  <!-- The button that opens this showModal. This is what you see in ProfileView-->
  <button
    @click="toggleShowModal"
    class="
      mdl-button mdl-js-button
      mdl-button--icon
      nonFilledEndOfLineEdit
      shortDescriptionEditButton
    "
  >
    <i class="material-icons nonFilledEndOfLineEditIcon">edit</i>
  </button>
</template>

<script>
import Modal from "@/components/Modal";
import { ref, watch, onUpdated, onUnmounted } from "vue";
import { doc, setDoc } from "firebase/firestore";
import { db } from "@/firebase/config";
import getUser from "@/composables/getUser";

export default {
  name: "EditShortDescriptionModal",
  props: ["shortDescriptionText"],
  emits: ["success"],
  components: { Modal },
  setup(props, { emit }) {
    //The description text that is initially in the database
    //LastSavedShortDescription is the text that is currently the official, uploaded description
    //For speed purposes we are not going to use the firebase doc to get that text
    let { shortDescriptionText: lastSavedShortDescriptionValue } = props;

    // The short description text that is edited by the user
    const editedShortDescription = ref(lastSavedShortDescriptionValue);

    const showModal = ref(false);

    const loading = ref(false);
    //This is to ensure that if the props change that we receive the new text
    const propWatch = watch(props, () => {
      const { shortDescriptionText: newShortDescriptionText } = props;
      loadShortDescription(newShortDescriptionText);
    });

    // to stop the watcher when the component is unmounted
    onUnmounted(() => {
      propWatch();
    });

    //A method to load the new official shortDescription
    const loadShortDescription = async (newShortDescription) => {
      editedShortDescription.value = newShortDescription;
      if (newShortDescription === "No description.") {
        editedShortDescription.value = "";
      }
      lastSavedShortDescriptionValue = editedShortDescription.value;
    };

    //Toggles showModal and resets the editedShortDescription so the user
    //can start editing the official shortDescription again
    const toggleShowModal = () => {
      showModal.value = !showModal.value;
      if (showModal.value) {
        loadShortDescription(lastSavedShortDescriptionValue);
      }
    };

    //This function is called when the user clicks the save button
    //It updates the short description in the database
    const uploadDescription = async () => {
      loading.value = true;
      const { user } = getUser();
      const newDescription = editedShortDescription.value;
      const userModelRef = doc(db, "users", user.value.uid);
      await setDoc(
        userModelRef,
        { shortdescription: newDescription },
        { merge: true }
      );
      loading.value = false;
      toggleShowModal();
      lastSavedShortDescriptionValue = editedShortDescription.value;
      emit("success");
    };

    return {
      toggleShowModal,
      showModal,
      uploadDescription,
      editedShortDescription,
      loading,
    };
  },
};
</script>

<!-- This component steals a lot of css from the EditDescriptionModal... 
check that class if the styling isn't down here -->
<style>
/* color of text on the characterCounter */
.characterCounter {
  color: rgba(0, 0, 0, 0.5);
}

/* The width of this component differs from the one in EditDescriptionModal */
.descriptionTextDiv.shortDescription {
  width: 400px;
}

/* The width of the inputfield. Apparently it doesn't push the width of the div */
.shortDescriptionField {
  color: black;
  width: 400px;
}

/* Styling of the editShortDescription button shown in ProfileView */
.nonFilledEndOfLineEdit {
  position: relative;
}
.shortDescriptionEditButton {
  top: -3px;
}
.nonFilledEndOfLineEditIcon {
  color: black;
}
</style>

