<!-- Responsible: Simon Alsbirk, s204487 -->
<!-- This component functions as both the loginpage and the signup page.
This was smart since the two pages resemble eachother a lot.
The isLogin boolean is true if this component is used for login
and false if it is used for signup. -->
<template>
  <div class="background">
    <div class="column">
      <div class="spacing"></div>
      <div v-if="isLogin">
        <h3 class="centertext">Login to Consolondo</h3>
      </div>
      <div v-else>
        <h3 class="centertext">Join Consolondo</h3>
      </div>
      <!-- Facebookbutton -->
      <button
        @click="handleFacebookSignIn"
        class="
          mdl-button mdl-js-button
          mdl-button--raised mdl-button--colored
          fb
          connect
        "
      >
        Continue with Facebook
      </button>
      <div class="spacing"></div>
      <!-- Googlebutton -->
      <button
        @click="handleGoogleSignIn"
        class="
          mdl-button mdl-js-button
          mdl-button--raised mdl-button--colored
          google
          connect
        "
      >
        Continue with Google
      </button>

      <div class="spacing"></div>

      <h6><span>OR</span></h6>

      <!-- Form with textfields for sign in with email password -->
      <!-- Here the phrase sign in is used as both login and sign up -->
      <form @submit.prevent="handleEmailAndPasswordSignIn" class="signInForm">
        <input
          v-if="!isLogin"
          class="signIn"
          placeholder="Enter your name"
          v-model="fullName"
        />
        <input
          class="signIn"
          type="email"
          placeholder="Email"
          v-model="email"
        />
        <input
          class="signIn"
          type="password"
          placeholder="Password"
          v-model="password"
        />
        <!-- Continue button -->
        <button
          v-if="
            !loginIsPending && !signupIsPending && !thirdPartySignInIsPending
          "
          class="
            mdl-button mdl-js-button
            mdl-button--raised mdl-button--colored
            continue
          "
        >
          Continue
        </button>
      </form>

      <!-- Error messages -->
      <div class="error" v-if="loginError">{{ loginError }}</div>
      <div class="error" v-else-if="signupError">{{ signupError }}</div>
      <div class="error" v-else-if="thirdPartySignInError">
        {{ thirdPartySignInError }}
      </div>

      <!-- Divider -->
      <hr class="solid" />

      <!-- Bottom text -->
      <div v-if="isLogin">
        <p class="bottomText">
          Don't have an account yet?
          <router-link class="routerlink" to="/signup">Join now</router-link>
        </p>
      </div>
      <div v-else>
        <p class="bottomText">
          Already a member?
          <router-link class="routerlink" to="/login">Login</router-link>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import useLogin from "@/composables/useLogin";
import useSignup from "@/composables/useSignup";
import useThirdPartySignIn from "@/composables/useThirdPartySignIn";
import { ref } from "@vue/reactivity";
import { useRouter } from "vue-router";

export default {
  //whether this component is used for login or signup
  props: ["isLogin"],
  setup(prop) {
    //Storing the prop in a variable
    const { isLogin } = prop;

    //Initialize the different ways of signing in. 
    const { error: loginError, login, isPending: loginIsPending } = useLogin();
    const {
      error: signupError,
      signup,
      isPending: signupIsPending,
    } = useSignup();
    const {
      error: thirdPartySignInError,
      googleSignIn,
      facebookSignIn,
      isPending: thirdPartySignInIsPending,
    } = useThirdPartySignIn();
    
    //Initialize the router
    const router = useRouter();

    //Initialize the variables used by the signin with email and password.
    const email = ref("");
    const password = ref("");
    const fullName = ref("");

    //All the methods that gets called from the buttons for handling sign in. 
    const handleGoogleSignIn = async () => {
      clearAllErrors();
      await googleSignIn();
      if (!thirdPartySignInError.value) {
        whatToDoAfterSignIn()
      }
    };
    const handleFacebookSignIn = async () => {
      clearAllErrors();
      await facebookSignIn();
      if (!thirdPartySignInError.value) {
        whatToDoAfterSignIn()
      }
    };
    const handleEmailAndPasswordSignIn = async () => {
      clearAllErrors();
      if (isLogin) {
        await login(email.value, password.value);
        if (!loginError.value) {
          whatToDoAfterSignIn()
        }
      } else {
        await signup(email.value, password.value, fullName.value);
        if (!signupError.value) {
          whatToDoAfterSignIn()
        }
      }
    };

    const whatToDoAfterSignIn = () => {
      router.replace({ name: "Home" });
    }

    //Makes sure no old errors are displayed when the user tries signing in again.
    const clearAllErrors = () => {
      loginError.value = null;
      signupError.value = null;
      thirdPartySignInError.value = null;
    };

    return {
      fullName,
      email,
      password,

      loginError,
      signupError,
      thirdPartySignInError,

      loginIsPending,
      signupIsPending,
      thirdPartySignInIsPending,

      handleEmailAndPasswordSignIn,
      handleGoogleSignIn,
      handleFacebookSignIn,
    };
  },
};
</script>

<style>
p.bottomText {
  color: #000000;
  font-weight: bold;
}
.routerlink {
  color: var(--primary);
}

.routerlink:hover {
  text-decoration: underline;
}

hr.solid {
  margin: 30px 0;
  width: 100%;
  display: relative;
  border-top: 1px solid rgb(0, 0, 0);
}

input.signIn {
  color: #000000;
  width: 100%;
  margin: 10px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  border-color: #000;
}

.fb.mdl-button--raised.mdl-button--colored:hover {
  background-color: #3a5a97;
  filter: brightness(120%);
}

.google.mdl-button--raised.mdl-button--colored:hover {
  background-color: #ffffff;
  filter: brightness(96%);
}
.google.mdl-button--raised.mdl-button--colored:focus {
  background-color: #ffffff;
}
.fb.mdl-button--raised.mdl-button--colored:focus {
  background-color: #3a5a97;
}

h6 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h6 span {
  background: #fff;
  padding: 0 10px;
}
.column {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  width: 334.93px;
}
.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored {
  display: relative;
  width: 334.93px;
  text-transform: none;
  height: 45px;
  border-radius: 10px;
}

.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.continue {
  height: 38px;
  margin: 10px 0 0 0;
}
.continue:hover {
  background-color: var(--primary);
  filter: brightness(90%);
  color: #fff;
}

.google.connect {
  background: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
}
.fb.connect {
  background: #3a5a97;
}

.connect:before {
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  text-indent: -9999px;
  text-align: center;
  line-height: 30px;
  margin: -8px 7px -7px -30px;
  padding: 0 0 0 0;
}
.google.connect:before {
  height: 30px;
  top: 15px;
  left: 39px;
  /*background image from assets folder*/
  background-image: url(@/assets/GoogleLogo.png);
  background-size: 30px 30px;
  width: 30px;
  content: "Google";
}
.fb.connect:before {
  height: 30px;
  top: 15px;
  left: 40px;
  /*background image from assets folder*/
  background-image: url(@/assets/FacebookLogo.png);
  background-size: 30px 30px;
  width: 30px;
  content: "Facebook";
}

.centertext {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}
.spacing {
  display: relative;
  size: relative;
  height: 20px;
  width: 100%;
}
.background {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: top;
}
</style>