<!-- Responsible: Simon Alsbirk, s204487 -->
<!-- Modal provides an empty dialog component where slot is what is kept inside. -->
<template>
  <!-- This is the background which closes the modal if the background is pressed.-->
  <div class="backdrop" @click.self="closeModal">
    <div class="modal">
      <slot name="content"></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: ['theme'],
  methods: {
    //when the backdrop is pressed we emit a message to hide modal to parent component.
    closeModal() {
      this.$emit('close')
    }
  }
}
</script>

<style scoped>
  /* Centers div with content of modal*/
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Everything in the background of modal */
  .backdrop {
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 2;
  }
</style>