<!-- Responsible: Simon Alsbirk, s204487 -->
<template>
  <div class="navbar">
    <nav>
      <!-- The logo home button -->
      <router-link v-bind:to="{ name: 'Home' }"
        ><img class="logo" src="@/assets/ConsolondoLogo.png"
      /></router-link>

      <!-- The search bar -->
      <div class="searchbar">

        <!-- The search icon button -->
        <button class="mdl-button mdl-js-button mdl-button--icon searchIconButton">
          <i
            @click="searchInSearchPage"
            class="material-symbols-outlined searchIcon"
            >search</i
          >
        </button>

        <!-- The search input field -->
        <form @submit.prevent="searchInSearchPage">
          <input
            class="input-field"
            type="text"
            placeholder="Search"
            v-model="searchWord"
          />
        </form>
      </div>
      
      <div class="links">
        <!-- The routerlink to messages page  -->
        <router-link v-if="user" v-bind:to="{ name: 'Messages' }">
          <!-- this is just a button for the aesthetics -->
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-symbols-outlined navIcon">forum</i>
          </button>
        </router-link>
        
        <!-- The dropdown button to signin/logout or view own profile -->
        <div class="dropdown">
          <!-- The profile button that triggers the dropdown -->
          <button 
            class="mdl-button mdl-js-button mdl-button--icon "
          >
            <i @click="showDropdown" class="material-symbols-outlined navIcon dropbtn">account_circle</i>
          </button>

          <!-- The dropdown content -->
          <div id="myDropdown" class="dropdown-content">
            <!-- v-ifs depend on whether we have a user that is signed in or not.
             if user is true somebody is signed in -->

             <!-- Button to go to my profile -->
            <button v-if="user"  @click="goToMyProfile" class="textButton">My profile</button>

            <!-- Button to sign out -->
            <button v-if="user"  @click="signOut" class="textButton">Log out</button>

            <!-- Routerlink to sign In. Since auth provides autosignin it makes sense 
            to automatically reroute to the signup page instead of login page-->
            <router-link v-if="!user"
              class="signUpRouterLink"
              v-bind:to="{ name: 'Signup' }"
              >Sign In</router-link
            >
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import { useRouter } from "vue-router";
import { ref } from "@vue/reactivity";
import getUser from "@/composables/getUser";
import useLogout from "@/composables/useLogout";

export default {
  setup() {

    // Copy pasted method to trigger the dropdown menu to 
    // close when the user clicks outside of it.
    window.onclick = function (event) {
      if (!event.target.matches(".dropbtn")) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains("show")) {
            openDropdown.classList.remove("show");
          }
        }
      }
    };

    const { user } = getUser();
    const { logout } = useLogout();

    const router = useRouter();

    const searchWord = ref("");

    const signOut = async () => {
      await logout();
      router.push("/login");
    };
    
    // Copy pasted method to toggle the dropdown menu to open or close
    // when the user clicks on it
    const showDropdown = () => {
      document.getElementById("myDropdown").classList.toggle("show");
    };

    // A simple method to empty the search field
    // whenever the user does something that isn't a search
    router.beforeEach((to, from, next) => {
      if (to.name != "Search") {
        searchWord.value = "";
      }
      next();
    });
    
    /* method called when My profile button is pressed. Makes sure that the params are 
    created in the right way */
    const goToMyProfile = () => {
      if (user.value) {
        const name = user.value.displayName.replaceAll(" ", "-");
        const uid = user.value.uid;
        const userNameAndUserUIDNormCase = `${name}-${uid}`;
        const userNameAndUserUID = userNameAndUserUIDNormCase.toLowerCase();
        router.push({ name: "Profile", params: { userNameAndUserUID } });
      }
    }

    // Method called when the search button is pressed, or the input field is submitted
    // goes to the search page and passes the search word as a param
    const searchInSearchPage = () => {
      if (searchWord.value != "") router.push("/search/" + searchWord.value);
    };

    return {
      goToMyProfile,
      searchInSearchPage,
      signOut,
      showDropdown,
      searchWord,
      user,
    };
  },
};
</script>

<style scoped>

/* the styling of the my profile and logout dropdown buttons */
.textButton {
  background: none;
  border: none;
  width: 100%;
  height: 44px;
  justify-content: flex-start;
   font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  text-align: left;
  padding: 12px 16px;
}

.textButton:hover {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ddd;
  border-radius: 0px;
}

/* The container <div> - needed to position the dropdown content. The next sections marked
with ^^ has been copy pasted. */
.dropdown {
  position: relative;
  display: inline-block;
}

/* ^^ Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* ^^ Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* ^^ Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* ^^ Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* Dimensions of the icon buttons */
.mdl-button--icon {
  width: 40px;
  height: 40px;
}

/* Styling of the messages and profile icon buttons*/
.navIcon {
  padding: 5px 0 0 0;
  font-size: 29px;
  color: rgba(0, 0, 0, 0.5);
}


.searchIconButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 8px;
  background: rgba(0, 0, 0, 0);
}

.searchIcon {
  position: relative;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.input-field {
  font-size: 18px;
  width: 100%;
  padding: 8px 10px 10px 10px;
  outline: none;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0px;
}

.searchbar {
  display: flex;
  background-color: #f5f5f5;
  width: 200px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.logo {
  margin: 0 25px 0 0;
  height: 35px;
}

/* Styling of the router link to the signup page */
.signUpRouterLink {
  margin-left: 0px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}

/* The styling of the nav bar */ 
.navbar {
  padding: 8px 10px 8px 20px;
  background: rgb(237, 237, 237);
}

nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

nav h1 {
  margin-left: 20px;
}
nav .searchbar {
  margin-right: auto;
}
nav .links {
  margin-left: auto;
}

nav img {
  max-height: 40px;
}
</style>