<!-- Responsible: Lukas Petersen, s204511 -->
<template>
  <form v-if="conId">
      <textarea placeholder="Type a message and hit enter to send..." 
                v-model="message"
                @keypress.enter.prevent="handleSubmit"
                >
        </textarea>
      <div class="error">{{ error }}</div>
  </form>
</template>

<script>
import { ref } from '@vue/reactivity'
import { timestamp } from '@/firebase/config'

import { db } from '@/firebase/config'
import { addDoc, collection, doc, setDoc } from 'firebase/firestore'

import getConversation from '@/composables/getConversation'

export default {
    props: ['user'],
    setup(props) {
        const { error, documents, conId } = getConversation()
        const message = ref('')
        // pending indicator
        const isPending = ref(false)
        
        // method for writing a message into the database
        const handleSubmit = async () => {
            error.value = null
            isPending.value = true

            try {
                const colRef = collection(db, 'conversations', conId.value, 'messages')
                await addDoc(colRef, {
                    senderId: props.user.uid,
                    name: props.user.displayName,
                    message: message.value,
                    createdAt: timestamp()
                })
                // set the latestMessage field, so a snippet can get displayed in the left hand side
                const docRef = doc(db, 'conversations', conId.value)
                await setDoc(docRef, { latestMessage: message.value.substring(0, 32) + '...', latestActivity: timestamp() }, { merge: true })

                isPending.value = false
            } catch(e) {
                console.log(e.message)
                error.value = 'Could not send message.'
                isPending.value = false
            }

            // reset the form
            message.value = ''
        }
        return { message, handleSubmit, error, conId }
    }
}
</script>

<style scoped>
    textarea {
        border-bottom: none;
        overflow: auto;
        resize: none;
    }
</style>