<!-- Responsible: Andreas Rasmussen, s204470 -->
<template>
  <div class="block" @click="goToProfile">
    <!-- Background image, comes from the user profile -->
     <img v-if="user.backgroundPictureURL" class="background" :src="user.backgroundPictureURL" alt="Profile cover image">
     <!-- Adding a default background. This is hardcoded. -->
     <img v-else class="background" src="https://firebasestorage.googleapis.com/v0/b/consolondo-b2ee2.appspot.com/o/pictures%2Fusers%2FbackgroundPicture.png?alt=media&token=54dd84f4-f0d7-419b-bdd9-440b404e3321" alt="Profile cover image" />
   
   <!-- Getting the profile picture from the profile -->
    <div class="profile-img">
      <img v-if="user.profilePictureURL" :src="user.profilePictureURL" alt="Profile picture">
      <!-- Also just a default hardcoded profile picture. -->
      <img v-else src="https://firebasestorage.googleapis.com/v0/b/consolondo-b2ee2.appspot.com/o/pictures%2Fusers%2FprofilePicture.png?alt=media&token=1411550e-0918-4003-ad8e-7832066582c6" alt="Profile picture" />
    </div> 

    <!-- Profile text output from user profile -->
    <div class="userinfo">
      <div class="useroutput">
        <h4>{{ user.displayName }}</h4>
        <div class="userDescHolder">
          <p class="userDescription">{{ userDesc }}</p>
        </div>
        <br>
        <div class="tagsDiv">
           <div v-for=" tag in user.specialties" :key="tag">
            <p class="tag">#{{ tag }}&ensp;</p>
          </div>
        </div>
       
      </div>
    </div>

  </div>
</template>

<script>
import { ref } from '@vue/reactivity';
import { useRouter } from 'vue-router'

export default {
  props: ["user"],
  setup(props){

    //Use the router for redirect on click
    const router = useRouter()
    const user = props.user
    const userDesc = ref('')
    //Setting default description
    if (user.description){
      userDesc.value = user.description + '...'
    }else{
      userDesc.value = 'No description...'
    }

    //Redirect to profile on click
    const goToProfile = () => {
      //Push name and ID to the profile URL to go to the specific profile.
      const nameAndID = user.displayName.replace(" ","-") + "-" + user.ID
      router.push({ name: 'Profile', params: { userNameAndUserUID: nameAndID.toLowerCase() } })
    }

    return { user, userDesc, goToProfile } 
  }

  }

</script>

<style scoped>
h4 {
  width: 410px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.userDescription {
  overflow: hidden;
  text-overflow: ellipsis; 
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
  .block {
    max-width: 100%;
    width: 750px;
    height: 300px;
    max-height: 100%;
    background:  #0faf87;
    color: white;
    text-align: center;
    padding: 0px 0;
    margin: 40px auto;
    position: relative;
  }
  .block :hover{
    cursor: pointer;
  }
  
  img.background{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .profile-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  border: 2px solid black;
  overflow: hidden;
  position: absolute;
  left: 2%;
  top: 32%;
}
div.profile-img img{
  width: 100%;
  height: 100%;
}
div.userinfo{
  max-width: 100%;
  width: 56%;
  height: 130px;
  max-height: 100%;
  position: absolute;
  left: 20%;
  border-radius: 10px;
  top: 32%;
  background-color: black;
  overflow: hidden;
  opacity: 75%;
  padding: 5px;
  margin: 5px auto;
}
div.useroutput p,h4,li{
  padding: 0px;
  margin: 0px;
  color: white;
  text-align: justify;
}


div.tagsDiv{
  display: flex;
  position: absolute;
  bottom: 0px;
  
}

div.useroutput p.tag {
  color:var(--primary);
  
}

</style>