/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* variables */
:root {
    --primary: #009688;
    --secondary: #9F9F9F;
    --tertiary: #00762E;
    --warning: #da0f41;
}

/* base styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--primary);
}
body {
    background: #ffffff;
}
a {
    text-decoration: none;
}

/* buttons */
button, .btn {
    background: var(--secondary);
    border-radius: 8px;
    border: 0;
    padding: 8px 12px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}
button:hover, .btn:hover {
    background: var(--primary);
    color: white;
}
button:disabled {
    opacity: 0.5;
    color: var(--primary);
    background: var(--secondary);
    cursor: not-allowed;
}

/* forms */
/*
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 1px 2px 3px rgba(50, 50, 50, 0.05);
    border: 1px solid var(--secondary);
    background: white;
}
*/
input, textarea {
    border: 0;
    border-bottom: 1px solid var(--secondary);
    padding: 10px;
    outline: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 20px auto;
}

/* error text */
.error {
    color: var(--warning);
    font-size: 14px;
    margin: 16px 0;
}

/* progress indicator */
progress {
    width: 5em;
    height: 5em;
    background: url("data:image/svg+xml,%3csvg viewBox='-5 -5 10 10' xmlns='http://www.w3.org/2000/svg'%3e%3cstyle%3esvg%7banimation:r 1.4s linear infinite%7d%40keyframes r%7bto%7btransform:rotate(270deg)%7d%7dcircle%7banimation:d 1.4s ease-in-out infinite%7d%40keyframes d%7b50%25%7btransform:rotate(135deg)%3bstroke-dashoffset:8%7dto%7btransform:rotate(450deg)%7dfrom%2cto%7bstroke-dashoffset:28%7d%7d%3c/style%3e%3ccircle fill='none' stroke-dasharray='30' stroke-dashoffset='8' stroke='%234285f4' r='4'/%3e%3c/svg%3e"); 
}  
/* Remove default browser styles */
progress { border: 0 }
progress::-moz-progress-bar { background: none }
progress::-webkit-progress-bar { display: none }
progress::-ms-fill { animation-name: none }
  